header {
  padding: 24px 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

a {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  background-image: url("../images/Rectangle\ 1.jpg");
  width: 100%;
  height: 606px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
}

h1 {
  font-size: 79px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 19px;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;




* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.white-block {
  width: 1440px;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  gap: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.left-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.discover {
  font-weight: 400;
  font-size: 17px;
  color: #636060;
}

.title {
  font-weight: 400;
  font-size: 28px;
  color: #010102;
}

.description {
  font-size: 20px;
  color: #636060;
  line-height: 1.3;
}

.right-cards {
  width: 918px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 286px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  width: 286px;
  height: 195px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  font-size: 19px;
  font-weight: 400;
  color: #343232;
}

.card p {
  font-size: 18px;
  color: #636060;
  line-height: 1.2;
}



